# Conservationist

# Game Overview
The game of saving Animals,  create Habitats, Sancuarities and Wildlife Preserves.

In Conservationist, Players are Conservationist who save animals, create habitats, sancarities and wildlife preserves.

# Components
  4 - Sanctuary Cards 
  1 - Wildlife Preserve Card
  4 Sets of animal Habitat cards. 
  The numbers on the Habitat, Sanctuary and Wildlife cards represent the number of animals saved for each card type. 
  
   1 = Red Pandas
   2 = Orangutans
   3 - Giraffes
   4 = Leopards
   5 = Koala (optional)
   
   4 player decks of 20 Animal Habitat cards each. 
   Each Player deck consists of four different Animal Habitat cards.
   
   Each set of Animal Habitat cards contains 5 cards with a number of saved animals in each Habitat. 
   3 - one Animal cards
   1 - two Animal card
   1 - three Animal card
 
# Setup
Players each start with a 20 card deck of animal habitats with the same color card backs. 
The colored card backs have no gameplay value other than to help sort the individual player desks.

Layout the four Sanctuary cards and the one Animal Preserve card in the middle of the play space.

# How to play
 Play is continuous and simultaneous.
Each player starts by drawing five (5) animal habitat cards from their 20 card animal habitat deck into their hand.
1. Players each select one (1) animal habitat card from their hand to save and add to their collection of habitats.
2. Player then declares "Pass" to alert the other players they are finished saving a habitat card and 
   and ready to "pass" their hand of four (4) animal habitat cards to the player to their left.
3. Once all players declare "Pass", Players then pass their hand to the player to their left.
4. Each player then draws one (1) card from their animal habitat deck into their hand, to make their hand size five (5).

Repeat steps 1-4 until one or more players announce they can create a Wildlife Preserve, 
1 set of animal Habitats for each of the four (4) animals in the game. This signals the end of the game.

# Completed Offerings
 One completed offering is a set of three (3) or more of the same Prasads for a specific night of Navratri.
The first player to make an offering for any specific day, but saying "I make an offering to goddess xxxxx" 
claims the Goddess card for that night and scores a bonus three (3) points, printed on the card. 
Once a player claims the Goddess card for any specific night, that player may no longer collect prasads for that night. 
Other players may continue to collect prasad's for that night to complete their offerings.
(So beware, making an offering too soon will limit your ability to score points for that night, 
while others can continue to add to their offerings to score points for that night.) A bit of push your luck here.

# End of game
 Once one or more players announced they can make offerings to all nine forms of goddess durga, 1 set of prasads for each of 
 the nine nights. Play stops, no more passing of cards, although players may still select and place their last card on the round 
 the game ends. 
 
 Scoring begins.
 
The first player to announce they have completed all nine sets of Prasads are awarded the Maan Durga Goddess card and six (6) bonus 
points printed on the Maan Durga card.
Players only score points for nights they can make an offering for and any bonus cards claimed during game play.
Add up the point values of all collected Prasads cards for all completed offerings, and any bonus point cards. 
The player with the most points is the winner.
1. Player with the most points and Maan Durga Goddess card
2. Player with the most points and the most Goddess cards. (with or without including Mann Dugra)
3. Player with the most points, and the most completed offerings.
4. Game ends in a tie =)
